.popular {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 24px;
  }

  &__item {
    text-decoration: none;
    color: #fff;
    transition: transform 0.2s;
  }

  &__item:hover {
    transform: translateY(-4px);
  }

  &__img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 8px;
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }
}
