.cast {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 20px;
  }

  &__item {
    text-align: center;
  }

  &__img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 8px;
    object-fit: cover;
  }

  &__name {
    font-weight: 600;
    font-size: 14px;
  }

  &__character {
    font-size: 13px;
    opacity: 0.7;
  }
}
